In [2]:
import pandas as pd

In [2]:
q1 = pd.read_csv('Desktop/DS/Project/RAW_DATA/Origin_and_Destination_Survey_DB1BMarket_2021_1/Origin_and_Destination_Survey_DB1BMarket_2021_1.csv')
#print(q1.head())
print("Number of rows:", len(q1))

Number of rows: 3139631

In [3]:
q2 = pd.read_csv('Desktop/DS/Project/RAW_DATA/Origin_and_Destination_Survey_DB1BMarket_2021_2/Origin_and_Destination_Survey_DB1BMarket_2021_2.csv')
#print(q2.head())
print("Number of rows:", len(q2))

Number of rows: 5684862

In [4]:
q3 = pd.read_csv('Desktop/DS/Project/RAW_DATA/Origin_and_Destination_Survey_DB1BMarket_2021_3/Origin_and_Destination_Survey_DB1BMarket_2021_3.csv')
#print(q3.head())
print("Number of rows:", len(q3))

Number of rows: 6533649

In [5]:
q4 = pd.read_csv('Desktop/DS/Project/RAW_DATA/Origin_and_Destination_Survey_DB1BMarket_2021_4/Origin_and_Destination_Survey_DB1BMarket_2021_4.csv')
#print(q4.head())
print("Number of rows:", len(q4))

Number of rows: 6921910

In [6]:
concatenated_df = pd.concat([q1, q2, q3, q4], axis=0)
#print(concatenated_df.head())
print("Number of columns:", len(concatenated_df.columns))
print("Number of rows:", len(concatenated_df))

Number of columns: 42
Number of rows: 22280052

In [7]:
unnecessary_columns = ['Year', 'OriginAirportID',
                       'OriginAirportSeqID', 'OriginCityMarketID', 'OriginCountry',
                       'OriginStateFips', 'OriginState', 'OriginStateName',
                       'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 
                       'DestCountry', 'DestStateFips', 'DestState', 'DestStateName', 
                       'AirportGroup', 'WacGroup', 'TkCarrierGroup', 'OpCarrierGroup',
                       'MktDistanceGroup', 'ItinGeoType', 'Unnamed: 41']
correct_Data = concatenated_df.drop(unnecessary_columns, axis=1)

In [8]:
print("Number of columns:", len(correct_Data.columns))
print(correct_Data.columns)
print("Number of rows:", len(correct_Data))

Number of columns: 20
Index(['ItinID', 'MktID', 'MktCoupons', 'Quarter', 'Origin', 'OriginWac',
       'Dest', 'DestWac', 'TkCarrierChange', 'OpCarrierChange', 'RPCarrier',
       'TkCarrier', 'OpCarrier', 'BulkFare', 'Passengers', 'MktFare',
       'MktDistance', 'MktMilesFlown', 'NonStopMiles', 'MktGeoType'],
      dtype='object')
Number of rows: 22280052

In [9]:
correct_Data.to_csv('Desktop/DS/Project/RAW_DATA/new_flights_data.csv', index=False)

In [10]:
flights = pd.read_csv('Desktop/DS/Project/RAW_DATA/new_flights_data.csv')

In [11]:
print("Number of columns:", len(flights.columns))
print(flights.columns)
print("Number of rows:", len(flights))
print(flights.head())

Number of columns: 20
Index(['ItinID', 'MktID', 'MktCoupons', 'Quarter', 'Origin', 'OriginWac',
       'Dest', 'DestWac', 'TkCarrierChange', 'OpCarrierChange', 'RPCarrier',
       'TkCarrier', 'OpCarrier', 'BulkFare', 'Passengers', 'MktFare',
       'MktDistance', 'MktMilesFlown', 'NonStopMiles', 'MktGeoType'],
      dtype='object')
Number of rows: 22280052
        ItinID          MktID  MktCoupons  Quarter Origin  OriginWac Dest  \
0  20211243122  2021124312202           1        1    PHL         23  LAX
1  20211243123  2021124312301           1        1    LAX         91  PHL
2  20211243123  2021124312302           1        1    PHL         23  LAX
3  20211243124  2021124312401           1        1    LAX         91  PHL
4  20211243124  2021124312402           1        1    PHL         23  LAX

   DestWac  TkCarrierChange  OpCarrierChange RPCarrier TkCarrier OpCarrier  \
0       91              0.0              0.0        AA        AA        AA
1       23              0.0              0.0        AA        AA        AA
2       91              0.0              0.0        AA        AA        AA
3       23              0.0              0.0        AA        AA        AA
4       91              0.0              0.0        AA        AA        AA

   BulkFare  Passengers  MktFare  MktDistance  MktMilesFlown  NonStopMiles  \
0       0.0         3.0     64.0       2402.0         2402.0        2402.0
1       0.0         2.0     68.5       2402.0         2402.0        2402.0
2       0.0         2.0     68.5       2402.0         2402.0        2402.0
3       0.0         3.0     70.5       2402.0         2402.0        2402.0
4       0.0         3.0     70.5       2402.0         2402.0        2402.0

   MktGeoType
0           2
1           2
2           2
3           2
4           2

In [12]:
flights = flights[flights['TkCarrierChange'] == 0]
flights = flights.drop(['TkCarrierChange'], axis=1)

In [13]:
flights = flights[flights['OpCarrierChange'] == 0]
flights = flights.drop(['OpCarrierChange'], axis=1)

In [14]:
flights = flights[(flights['RPCarrier'] == flights['TkCarrier']) & (flights['RPCarrier'] == flights['OpCarrier'])]
flights = flights.drop(['RPCarrier', 'OpCarrier'], axis=1)

In [15]:
flights = flights[flights['MktMilesFlown'] == flights['NonStopMiles']]
flights = flights.drop(['NonStopMiles'], axis=1)

In [16]:
flights = flights[(flights['MktDistance'] == flights['MktMilesFlown'])]
flights = flights.drop(['MktDistance'], axis=1)

In [17]:
flights = flights[(flights['MktFare'] >= 50) & (flights['MktFare'] <= 1000)]

In [18]:
flights = flights[(flights['TkCarrier'] != 'QX') & (flights['TkCarrier'] != 'OO') & (flights['TkCarrier'] != 'EV')]

In [19]:
flights = flights.drop(['BulkFare'], axis=1)

In [20]:
flights = flights[flights['Passengers'] <= 20]

In [21]:
flights

,ItinID,MktID,MktCoupons,Quarter,Origin,OriginWac,Dest,DestWac,TkCarrier,Passengers,MktFare,MktMilesFlown,MktGeoType
0,20211243122,2021124312202,1,1,PHL,23,LAX,91,AA,3.0,64.00,2402.0,2
1,20211243123,2021124312301,1,1,LAX,91,PHL,23,AA,2.0,68.50,2402.0,2
2,20211243123,2021124312302,1,1,PHL,23,LAX,91,AA,2.0,68.50,2402.0,2
3,20211243124,2021124312401,1,1,LAX,91,PHL,23,AA,3.0,70.50,2402.0,2
4,20211243124,2021124312402,1,1,PHL,23,LAX,91,AA,3.0,70.50,2402.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22280025,202141242859,20214124285903,1,4,JFK,22,SFO,91,AS,1.0,119.59,2586.0,2
22280027,202141242860,20214124286003,1,4,JFK,22,SFO,91,AS,1.0,120.50,2586.0,2
22280029,202141242861,20214124286103,1,4,JFK,22,SFO,91,AS,1.0,133.69,2586.0,2
22280031,202141242862,20214124286203,1,4,JFK,22,SFO,91,AS,1.0,196.89,2586.0,2
22280033,202141242863,20214124286303,1,4,JFK,22,SFO,91,AS,1.0,654.80,2586.0,2

In [22]:
flights['Miles'] = flights['MktMilesFlown']
flights = flights.drop(['MktMilesFlown'], axis=1)

In [23]:
flights['ContiguousUSA'] = flights['MktGeoType']
flights = flights.drop(['MktGeoType'], axis=1)

In [24]:
flights['NumTicketsOrdered'] = flights['Passengers']
flights = flights.drop(['Passengers'], axis=1)

In [25]:
flights['AirlineCompany'] = flights['TkCarrier']
flights = flights.drop(['TkCarrier'], axis=1)

In [26]:
flights['PricePerTicket'] = flights['MktFare']
flights = flights.drop(['MktFare'], axis=1)

In [27]:
flights

,ItinID,MktID,MktCoupons,Quarter,Origin,OriginWac,Dest,DestWac,Miles,ContiguousUSA,NumTicketsOrdered,AirlineCompany,PricePerTicket
0,20211243122,2021124312202,1,1,PHL,23,LAX,91,2402.0,2,3.0,AA,64.00
1,20211243123,2021124312301,1,1,LAX,91,PHL,23,2402.0,2,2.0,AA,68.50
2,20211243123,2021124312302,1,1,PHL,23,LAX,91,2402.0,2,2.0,AA,68.50
3,20211243124,2021124312401,1,1,LAX,91,PHL,23,2402.0,2,3.0,AA,70.50
4,20211243124,2021124312402,1,1,PHL,23,LAX,91,2402.0,2,3.0,AA,70.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22280025,202141242859,20214124285903,1,4,JFK,22,SFO,91,2586.0,2,1.0,AS,119.59
22280027,202141242860,20214124286003,1,4,JFK,22,SFO,91,2586.0,2,1.0,AS,120.50
22280029,202141242861,20214124286103,1,4,JFK,22,SFO,91,2586.0,2,1.0,AS,133.69
22280031,202141242862,20214124286203,1,4,JFK,22,SFO,91,2586.0,2,1.0,AS,196.89
22280033,202141242863,20214124286303,1,4,JFK,22,SFO,91,2586.0,2,1.0,AS,654.80

In [28]:
flights = flights.reset_index(drop=True)
flights

,ItinID,MktID,MktCoupons,Quarter,Origin,OriginWac,Dest,DestWac,Miles,ContiguousUSA,NumTicketsOrdered,AirlineCompany,PricePerTicket
0,20211243122,2021124312202,1,1,PHL,23,LAX,91,2402.0,2,3.0,AA,64.00
1,20211243123,2021124312301,1,1,LAX,91,PHL,23,2402.0,2,2.0,AA,68.50
2,20211243123,2021124312302,1,1,PHL,23,LAX,91,2402.0,2,2.0,AA,68.50
3,20211243124,2021124312401,1,1,LAX,91,PHL,23,2402.0,2,3.0,AA,70.50
4,20211243124,2021124312402,1,1,PHL,23,LAX,91,2402.0,2,3.0,AA,70.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7613638,202141242859,20214124285903,1,4,JFK,22,SFO,91,2586.0,2,1.0,AS,119.59
7613639,202141242860,20214124286003,1,4,JFK,22,SFO,91,2586.0,2,1.0,AS,120.50
7613640,202141242861,20214124286103,1,4,JFK,22,SFO,91,2586.0,2,1.0,AS,133.69
7613641,202141242862,20214124286203,1,4,JFK,22,SFO,91,2586.0,2,1.0,AS,196.89
7613642,202141242863,20214124286303,1,4,JFK,22,SFO,91,2586.0,2,1.0,AS,654.80

In [29]:
flights.to_csv('Desktop/DS/Project/RAW_DATA/flights_data.csv', index=False)

In [36]:
flights_data = pd.read_csv('Desktop/DS/Project/RAW_DATA/flights_data.csv')

In [37]:
print("Number of columns:", len(flights_data.columns))
print(flights_data.columns)
print("Number of rows:", len(flights_data))
print(flights_data.head())

Number of columns: 13
Index(['ItinID', 'MktID', 'MktCoupons', 'Quarter', 'Origin', 'OriginWac',
       'Dest', 'DestWac', 'Miles', 'ContiguousUSA', 'NumTicketsOrdered',
       'AirlineCompany', 'PricePerTicket'],
      dtype='object')
Number of rows: 7613643
        ItinID          MktID  MktCoupons  Quarter Origin  OriginWac Dest  \
0  20211243122  2021124312202           1        1    PHL         23  LAX
1  20211243123  2021124312301           1        1    LAX         91  PHL
2  20211243123  2021124312302           1        1    PHL         23  LAX
3  20211243124  2021124312401           1        1    LAX         91  PHL
4  20211243124  2021124312402           1        1    PHL         23  LAX

   DestWac   Miles  ContiguousUSA  NumTicketsOrdered AirlineCompany  \
0       91  2402.0              2                3.0             AA
1       23  2402.0              2                2.0             AA
2       91  2402.0              2                2.0             AA
3       23  2402.0              2                3.0             AA
4       91  2402.0              2                3.0             AA

   PricePerTicket
0            64.0
1            68.5
2            68.5
3            70.5
4            70.5

In [40]:
flights_data

,ItinID,MktID,MktCoupons,Quarter,Origin,OriginWac,Dest,DestWac,Miles,ContiguousUSA,NumTicketsOrdered,AirlineCompany,PricePerTicket
0,20211243122,2021124312202,1,1,PHL,23,LAX,91,2402.0,2,3.0,AA,64.00
1,20211243123,2021124312301,1,1,LAX,91,PHL,23,2402.0,2,2.0,AA,68.50
2,20211243123,2021124312302,1,1,PHL,23,LAX,91,2402.0,2,2.0,AA,68.50
3,20211243124,2021124312401,1,1,LAX,91,PHL,23,2402.0,2,3.0,AA,70.50
4,20211243124,2021124312402,1,1,PHL,23,LAX,91,2402.0,2,3.0,AA,70.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7613638,202141242859,20214124285903,1,4,JFK,22,SFO,91,2586.0,2,1.0,AS,119.59
7613639,202141242860,20214124286003,1,4,JFK,22,SFO,91,2586.0,2,1.0,AS,120.50
7613640,202141242861,20214124286103,1,4,JFK,22,SFO,91,2586.0,2,1.0,AS,133.69
7613641,202141242862,20214124286203,1,4,JFK,22,SFO,91,2586.0,2,1.0,AS,196.89
7613642,202141242863,20214124286303,1,4,JFK,22,SFO,91,2586.0,2,1.0,AS,654.80

In [43]:
flights_data.to_csv('Desktop/DS/Project/RAW_DATA/Cleaned_data.csv', index=False)

In [3]:
Cleaned_data = pd.read_csv('Desktop/DS/Project/Cleaned_data.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Desktop/DS/Project/Cleaned_data.csv'

In [46]:
Cleaned_data

,ItinID,MktID,MktCoupons,Quarter,Origin,OriginWac,Dest,DestWac,Miles,ContiguousUSA,NumTicketsOrdered,AirlineCompany,PricePerTicket
0,20211243122,2021124312202,1,1,PHL,23,LAX,91,2402.0,2,3.0,AA,64.00
1,20211243123,2021124312301,1,1,LAX,91,PHL,23,2402.0,2,2.0,AA,68.50
2,20211243123,2021124312302,1,1,PHL,23,LAX,91,2402.0,2,2.0,AA,68.50
3,20211243124,2021124312401,1,1,LAX,91,PHL,23,2402.0,2,3.0,AA,70.50
4,20211243124,2021124312402,1,1,PHL,23,LAX,91,2402.0,2,3.0,AA,70.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7613638,202141242859,20214124285903,1,4,JFK,22,SFO,91,2586.0,2,1.0,AS,119.59
7613639,202141242860,20214124286003,1,4,JFK,22,SFO,91,2586.0,2,1.0,AS,120.50
7613640,202141242861,20214124286103,1,4,JFK,22,SFO,91,2586.0,2,1.0,AS,133.69
7613641,202141242862,20214124286203,1,4,JFK,22,SFO,91,2586.0,2,1.0,AS,196.89
7613642,202141242863,20214124286303,1,4,JFK,22,SFO,91,2586.0,2,1.0,AS,654.80